<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.label :train_id, style: "display: block" %>
    <%= form.number_field :train_id, placeholder:'Enter the train number' %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating, placeholder:'Give a rating out of 5' %>
  </div>

  <div>
    <%= form.label :feedback, style: "display: block" %>
    <%= form.text_area :feedback %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
